<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marko | Junior Developer Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="/static/assets/css/styles.css">

</head>

<body>
<div class="navbar">
    <button class="nav-btn active" data-target="projects">Projects</button>
    <button class="nav-btn" data-target="experience">Experience</button>
    <button class="nav-btn" data-target="skills">Skills</button>
</div>

<!-- HERO -->
<div class="top-container">
    <h1>Marko Živković</h1>
    <p>Junior Python Developer | Backend & Systems</p>
</div>


<section id="projects" class="tab active">
    <h2>Projects</h2>
    <div class="positions-list">

        <div class="position-row">
            <a href="#" class="job-link" data-target="blog"
            >Blog Platform</a>
        </div>

        <div class="position-row">
            <a href="#" class="job-link" data-target="home">Home Assistant</a>
        </div>

        <div class="position-row">
            <a href="#" class="job-link" data-target="viz">Visualizer</a>
        </div>

        <div class="position-row">
            <a href="#" class="job-link" data-target="dash">Dashboard</a>
        </div>

        <!-- ONLY ONE ACTIVE VIDEO SHOWN -->
        <div id="blog" class="video-card active">
            <video controls>
                <source src="/static/videos/Blog-Website.mp4">
            </video>
            <div class="video-info">
                <h3>Blog Platform</h3>
                <p>
                    Full-stack Flask blog with authentication, CRUD posts, and database integration.
                </p>
            </div>
        </div>

        <div id="home" class="video-card">
            <video controls>
                <source src="/static/videos/Homeassistant_and_Docker.mp4">
            </video>
            <div class="video-info">
                <h3>Home Assistant Setup</h3>
                <p>
                    Dockerized Home Assistant deployment with service automation and system integration.
                </p>
            </div>
        </div>

        <div id="dash" class="video-card">
            <video controls>
                <source src="/static/videos/Dashboard.mp4">
            </video>
            <div class="video-info">
                <h3>Dashboard</h3>
                <p>
                    Interactive dashboard with data visualization and structured UI layout for monitoring and analysis.
                </p>
            </div>
        </div>
        <div id="viz" class="video-card">
            <video controls>
                <source src="/static/videos/Player.mp4">
            </video>
            <div class="video-info">
                <h3>Audio Visualizer</h3>
                <p>
                    Real-time audio visualization project with frequency-based animation and playback interaction.
                </p>
            </div>
        </div>

    </div>
</section>
<section id="experience" class="tab">
    <!-- DETAIL CARDS -->
    <h2>Work experience</h2>
    <div class="positions-list">

        <div class="position-row">
            <span class="date">04/2016 - 07/2019</span>
            <a href="#kanban" class="job-link">Material delivery on Kanban</a>
        </div>

        <div class="position-row">
            <span class="date">07/2019 - 07/2023</span>
            <a href="#auditor" class="job-link">Quality Auditor</a>
        </div>

        <div class="position-row">
            <span class="date">07/2023 - 12/2025</span>
            <a href="#leps" class="job-link">Lead IT Specialist - LEPS Administrator</a>
        </div>

    </div>
    <div id="kanban" class="job-card">
        <h3>Material delivery on Kanban</h3><p>Leoni Wiring Systems Southeast</p>
        <ul>
            <li>Delivering Material on the assembly line</li>
        </ul>
    </div>
    <div id="auditor" class="job-card">
        <h3>Quality Auditor</h3><p>Leoni Wiring Systems Southeast</p>
        <ul>
            <li>Training new operators</li>
            <li>Testing operators for qualification and revaluation</li>
            <li>Conducting training plans related to quality control</li>
            <li>Conducting evolutionary training for new operators</li>
            <li>Approving assembly boards</li>
            <li>Approving changes to assembly boards</li>
            <li>Writing lists of remarks and monitoring corrective actions</li>
            <li>Approving binder guns, tools, and auxiliary measures</li>
            <li>Implementation and updating of the checklist for auditory control</li>
            <li>Active participation in complaint analysis</li>
            <li>Daily, weekly, and monthly reports from rework</li>
            <li>Importing boards, checking rework, and sending cables to the next process</li>
        </ul>
    </div>
    <div id="leps" class="job-card active">
        <h3>Lead IT Specialist (LEPS Administrator) – production systems, user support, system administration</h3>
        <p>Leoni Wiring Systems Southeast</p>
        <ul>
            <li>Administered LEPS production applications used in manufacturing workflows</li>
            <li>Installed, upgraded, and maintained servers and client systems</li>
            <li>Provided L1 technical support for end users in production and office environments</li>
            <li>Managed user accounts, access rights, and system availability in production systems</li>
            <li>Conducted user training and created technical documentation</li>
            <li>Collaborated with IM/MES team on system updates and improvements</li>
            <li>Supported deployment and maintenance of software used in production line testing and operations</li>
        </ul>
        <p>Environment: Windows-based systems, internal production software, enterprise support tools, on-prem infrastructure</p>
    </div>
</section>
<section id="skills" class="tab">
    <h2>Skills</h2>
    <div class="cards-container">

        <!-- COURSES -->
        <div class="card skill-card">
            <h3>Completed Courses</h3>
            <ul class="list">
                <li>Object Oriented Programming in Python</li>
                <li>Python Game Development (2D)</li>
                <li>Databases & SQL Querying</li>
                <li>Web Design (Beginner → Intermediate)</li>
                <li>HTML / CSS From Scratch</li>
                <li>Ubuntu Linux Basics</li>
                <li>Powershell Functions</li>
            </ul>
        </div>

        <!-- TECH SKILLS -->
        <div class="card skill-card">
            <h3>Technical Skills</h3>

            <div class="skill-bar">
                <span>Python</span>
                <div class="bar">
                    <div class="fill" style="width: 85%"></div>
                </div>
            </div>

            <div class="skill-bar">
                <span>Web Development</span>
                <div class="bar">
                    <div class="fill" style="width: 80%"></div>
                </div>
            </div>

            <div class="skill-bar">
                <span>SQL</span>
                <div class="bar">
                    <div class="fill" style="width: 75%"></div>
                </div>
            </div>

            <div class="skill-bar">
                <span>Linux</span>
                <div class="bar">
                    <div class="fill" style="width: 65%"></div>
                </div>
            </div>
        </div>

        <!-- SOFT SKILLS -->
        <div class="card skill-card">
            <h3>Soft Skills</h3>
            <div class="skill-tags">
                <span>Problem Solving</span>
                <span>Attention to Detail</span>
                <span>Mentoring</span>
                <span>Teamwork</span>
                <span>Time Management</span>
                <span>Adaptability</span>
            </div>
        </div>

    </div>
</section>
<!-- CONTACT -->
<footer class="footer">
    <a href="https://github.com/MarkoZivkovic1984/" target="_blank" rel="noopener noreferrer">GitHub</a>
    <a href="https://www.linkedin.com/in/marko-zivkovic-258b65303/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
</footer>
<script>
const links = document.querySelectorAll('.job-link');
const videos = document.querySelectorAll('.video-card');

links.forEach(link => {
  link.addEventListener('click', (e) => {
    e.preventDefault();

    // stop ALL videos first
    videos.forEach(v => {
      v.classList.remove('active');
      const video = v.querySelector('video');
      if (video) {
        video.pause();
        video.currentTime = 0;
      }
    });

    // show selected
    const targetId = link.dataset.target;
    const target = document.getElementById(targetId);

    if (target) {
      target.classList.add('active');

      const video = target.querySelector('video');
      if (video) {
        video.play(); // autoplay when selected
      }
    }
  });
});




</script>
<script>
document.querySelectorAll('.job-link').forEach(link => {
  link.addEventListener('click', function(e) {
    e.preventDefault();

    document.querySelectorAll('.job-card').forEach(card => {
      card.classList.remove('active');
    });

    const targetId = this.getAttribute('href');
    const targetCard = document.querySelector(targetId);

    if(targetCard) {
      targetCard.classList.add('active');
    }
  });
});




</script>
<script>
    const buttons = document.querySelectorAll('.nav-btn');
const tabs = document.querySelectorAll('.tab');

buttons.forEach(btn => {
  btn.addEventListener('click', () => {

    // buttons active state
    buttons.forEach(b => b.classList.remove('active'));
    btn.classList.add('active');

    // tabs switch
    tabs.forEach(t => t.classList.remove('active'));

    const target = document.getElementById(btn.dataset.target);
    if (target) target.classList.add('active');
  });
});



</script>

</body>
</html>
